.title{
    font-size: 1.3rem;
}
.btn-icon{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.btn-icon:hover{
    cursor: pointer;
    color: rgb(255, 115, 0);
}


.color-input:hover{
    cursor: pointer;
}
.color-input{
    max-width: 3rem;
    min-width: 3rem;
    margin-right: 1rem !important;
}