<div class="page-container d-flex flex-column" style="min-height: 100%; max-height: 100%; min-width: 100%; overflow-y: auto;">
    <div style="min-height: 100%; max-height: 100%; ">
        <div class="d-flex align-items-center mb-2" (click)="go_back()">
            <div class="back-btn" title="back">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                  </svg>
            </div>
            <h2 class="mx-3 my-0">
                Disk {{this.disk_index}}
            </h2>
        </div>
        <app-treemap *ngIf="mount_point" [path]="this.mount_point"></app-treemap>
    </div>
    <div>Information</div>
    

</div>