<div class="page-container d-flex flex-column" style="min-height: 100%; max-height: 100%; min-width: 100%; overflow-y: scroll;">
    <div class="d-flex align-items-center mb-2" (click)="go_back()">
        <div class="back-btn" title="back">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
              </svg>
        </div>
        <h2 class="mx-3 my-0">
            Disk {{this.disk_index}}&nbsp;&nbsp;&nbsp;{{this.disk_info.name}}
        </h2>
    </div>
    
    <h4>Information</h4>

    <div class="mb-3">
        <table>
            <tr>
                <th>Total space</th>
                <td>{{format_disk_space(this.disk_info.total_space)}}</td>
            </tr>
            <tr>
                <th>Available space</th>
                <td>{{format_disk_space(this.disk_info.available_space)}}</td>
            </tr>
            <tr>
                <th>Used space</th>
                <td>{{format_disk_space(this.disk_info.total_space - this.disk_info.available_space)}}</td>
            </tr>
            <tr>
                <th>Mount point</th>
                <td>{{this.disk_info.mount_point}}</td>
            </tr>
            <tr>
                <th>File system</th>
                <td>{{this.disk_info.file_system}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{this.disk_info.disk_type}}</td>
            </tr>
            <tr>
                <th>Removable</th>
                <td *ngIf="this.disk_info.removable">Yes</td>
                <td *ngIf="!this.disk_info.removable">No</td>
            </tr>
        </table>
    </div>
    <h6>Usage</h6>
    <div [title]="this.get_free_perc()+'% ' + 'available'" *ngIf="this.disk_info" class="d-flex" style="min-height: 2rem; background-color: rgb(0, 162, 255);">
        <div [title]="this.get_used_perc() + '% ' + 'used'" style="min-height: calc(2rem - 2px); background-color: rgb(255, 94, 169);" [style.width]="this.get_used_perc() + '%'"></div>
    </div>

    <div class="mt-4">
        <h4>Used space composition</h4>
        <app-treemap *ngIf="this.disk_info" [path]="this.disk_info.mount_point"></app-treemap>
    </div>
    

</div>