.bar{
    min-width: 100%;
    min-height: 32px;
    position: relative;
    border-radius: 0px !important;
}
.inner-bar{
    position: absolute;
    left: 0;
    top: 0;
    min-height: 30px;
    background-color:#2ae24c;
}
.utilization-label{
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(226, 67, 192);
}