
<div class="d-flex justify-content-bertween">
  <span>% Utilization over 60 seconds</span>
  <div type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#timelapse-memory-chart-setting-modal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
        class="bi bi-sliders2 settings-icon" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5ZM12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Zm-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5ZM1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8Zm9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5Zm1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5Z" />
    </svg>
</div>
</div>
<div class="px-2 py-2 " style="display: block;" [ngStyle]="{'background-color': this.background_color}">
    <canvas baseChart style="min-height: 25vh; max-height:25vh; min-width: 100%; max-width: 100%"
      [type]="'line'"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
</div> 

<app-appearance-setting
    [(line_color)]="this.line_color"
    [(background_color)]="this.background_color"
></app-appearance-setting>
