<div class="page-container" style="min-height: 100%;">
    <div class="d-flex flex-column" style="min-height: 100%;">
        <div class="d-flex justify-content-between">
            <h1>{{'Memory.Memory'| translate}}</h1>
        </div>
        <!-- <span *ngIf="current_chart_type=='timelapse'">% Utilization over the last 60 seconds</span> -->
        <app-timelapse-memory-usage *ngIf="this.memInfo"
            [total_memory]="this.memInfo.total"
        ></app-timelapse-memory-usage>

        <div class="d-flex flex-row justify-content-evenly mt-5">
            <app-current-memory-usage class="card px-4 py-3" *ngIf="this.memInfo"
                [total_memory]="this.memInfo.total"
            ></app-current-memory-usage>
            <app-current-swap-usage class="card px-4 py-3" *ngIf="this.memInfo"
                [total_swap]="this.memInfo.total_swap"
            ></app-current-swap-usage>
        </div>
        
    </div>
</div>