<div class="page-container" style="min-height: 100%;">
    <div class="d-flex flex-column" style="min-height: 100%;">
        <div class="d-flex justify-content-between">
            <h1>Memory</h1>
            <span>{{memInfo.total}}</span>
        </div>
        <!-- <span *ngIf="current_chart_type=='timelapse'">% Utilization over the last 60 seconds</span> -->
        <app-timelapse-memory-usage
            [total_memory]="this.total_memory"
            [mem_info_ready_observable] = "this.memory_info_ready_subject.asObservable()"
        ></app-timelapse-memory-usage>
        <div clas="d-flex flex-row">
            <app-current-memory-usage
                [total_memory]="this.total_memory"
                [mem_info_ready_observable] = "this.memory_info_ready_subject.asObservable()"
            ></app-current-memory-usage>
            <div>

            </div>
        </div>
    </div>

</div>