<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="moon" viewBox="0 0 16 16">
    <path
      d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
  </symbol>

  <symbol id="sun" viewBox="0 0 16 16">
    <path
      d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
  </symbol>

  <symbol id="auto" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
  </symbol>
</svg>

<div class="d-flex flex-column" style="height: 100%;">
  <!-- <app-title-bar [darkmode]="dark_mode" style="min-height: 2.4rem;"></app-title-bar> -->
  <div style="height: calc(100% - (1.5rem));">
    <router-outlet></router-outlet>
  </div>
  <div class="border-top d-flex flex-row-reverse" style="height: 1.5rem;">
    <div class="d-flex flex-row align-items-center toolbar-item mx-2" (click)="onDarkModeToggle()">
      <svg *ngIf="color_mode === 'dark'" width="13" height="13" fill="currentColor" viewBox="0 0 16 16">
        <use xlink:href="#moon" />
      </svg>
      <svg *ngIf="color_mode === 'light'" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <use xlink:href="#sun" />
      </svg>
      <svg *ngIf="color_mode === 'OS'" width="14" height="14" fill="currentColor" viewBox="0 0 16 16">
        <use xlink:href="#auto" />
      </svg>
      <span *ngIf="color_mode === 'dark'" class="mx-1" style=" font-size: 0.7rem;">{{'app.dark_mode'| translate}}</span>
      <span *ngIf="color_mode === 'light'" class="mx-1" style=" font-size: 0.7rem;">{{'app.light_mode'|
        translate}}</span>
      <span *ngIf="color_mode === 'OS'" class="mx-1" style=" font-size: 0.7rem;">{{'app.Auto'| translate}}</span>
    </div>
    <div class="d-flex flex-row align-items-center toolbar-item mx-2 px-2" data-bs-toggle="modal"
      data-bs-target="#languageModal">
      <span style="font-size: 0.7rem;">{{this.selected_language.toUpperCase()}}</span>
    </div>
  </div>
</div>

<div class="modal fade" id="languageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="languageModalLabel">{{'app.Language_settings'| translate}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div *ngFor="let lang of supported_languages" class="d-flex flex-column lang-choise"
          (click)="this.set_language(lang.abbreviation)">
          <div>
            <span>{{lang.language}}</span>
            <svg *ngIf="selected_language==lang.abbreviation" xmlns="http://www.w3.org/2000/svg" width="22" height="22"
              fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
              <path
                d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
            </svg>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal">{{'app.Close'| translate}}</button>
      </div>
    </div>
  </div>
</div>