.option-icon{
    visibility: hidden;
    margin-left: 0.5rem;
}
.option-icon:hover{
    cursor: pointer;
    color: rgb(230, 149, 1);
}

.hover-pointer:hover{
    cursor: pointer;
}

.hover-show-option-icons:hover .option-icon{
    visibility: visible;
}

ul{
    list-style-type: none;
}
.filetree-icon{
    margin-right: 0.5rem;
}