<div class="modal fade" id="current-multicore-chart-setting-modal" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    {{'current_multicore_usage.appearance_setting.Chart_appearance'| translate}}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <input #bars_color_picker id="bars_color_picker" class="form-control-sm color-input"
                        [(colorPicker)]="demo_bars_color"
                        [style.background]="demo_bars_color"/>
                        <label for="bars_color_picker">
                            {{'current_multicore_usage.appearance_setting.Bars_color'| translate}}
                        </label>
                    </div>
                    <div class="d-flex align-items-center mt-1">
                        <input #background_color_picker id="background_color_picker" class="form-control-sm color-input"
                        [(colorPicker)]="demo_background_color"
                        [style.background]="demo_background_color"/>
                        <label for="background_color_picker">
                            {{'current_multicore_usage.appearance_setting.Background'| translate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">
                    {{'current_multicore_usage.appearance_setting.Cancel'| translate}}
                </button>
                <button type="button" class="btn btn-sm btn-primary" data-bs-dismiss="modal" (click)="apply_changes()">
                    {{'current_multicore_usage.appearance_setting.Apply_changes'| translate}}
                </button>
            </div>
        </div>
    </div>
</div>