.dropdown-toggle:hover{
    cursor: pointer;
    /* color: #bd1934; */
}
.dropdown-item:hover{
    cursor: pointer;
    background-color: rgba(141, 141, 141, 0.301);
}
.cpu-brand-span{
    font-size: 1.3rem;
    padding-left: 1rem;
}
th{
    padding-right: 2rem !important;
}
.value-span{
    font-size: 1.5rem;
}
.bold-text{
    font-weight: bold;
}
.bi-fire:hover{
    cursor: pointer;
    color: gray;
    /*color: rgb(255, 100, 0);*/
}