<div class="d-flex flex-row align-items-center me-auto">
    <canvas baseChart
        [labels]="doughnutChartLabels"
        [datasets]="doughnutChartDatasets"
        [options]="doughnutChartOptions"
        [legend]="false"
        [type]="'doughnut'">
    </canvas>
    <div class="d-flex flex-column align-items-center mx-2">
        <p style="font-weight: bold;">Swap</p>
        <p align="center">{{this.format_meassure_unit(this.used)}} ({{this.format_meassure_percent(this.used)}}) used of <br> {{this.format_meassure_unit(this.total_swap)}}</p>

    </div>
</div>