/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
}

.page-container{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: scroll;
}