/* You can add global styles to this file, and also import other style files */
html,
body{
    height: 100%;
}

.page-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: scroll;
}