<div class="page-container custom-scrollbar-css" style="min-height: 100%; max-height: 100%; min-width: 100%; overflow-y: scroll;">
    <div class="d-flex align-items-center">
        <div class="back-btn" title="Back" (click)="go_back()">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
              </svg>
        </div>
        
        <div class="d-flex" *ngIf="this.process_info">
            <h2 class="mx-3 my-0">
                {{this.process_info.name}} ({{this.process_info.pid}})
            </h2>
        </div>
    </div>
    <div class="d-flex flex-wrap" *ngIf="this.process_info">
        <div style="min-width: 20rem;" class="mt-2">
            <h5>Information</h5>
            <table class="tiny-font">
                <tr >
                    <th class="pright-1">pid</th>
                    <td class="inline">{{this.process_info.pid}}&nbsp;</td>
                </tr>
                <tr>
                    <th class="pright-1">Name</th>
                    <td class="inline">{{this.process_info.name}}&nbsp;</td>
                </tr>
                <tr>
                    <th class="pright-1">Executable path</th>
                    <td class="inline">{{this.process_info.executable_path}}&nbsp;</td>
                </tr>
                <tr>
                    <th class="pright-1">Status</th>
                    <td class="inline">{{this.process_info.status}}&nbsp;</td>
                </tr>
                <tr>
                    <th class="pright-1">Parent pid</th>
                    <td class="inline">{{this.process_info.parent_pid}}&nbsp;</td>
                </tr>
                <tr>
                    <th class="pright-1">Parent name</th>
                    <td class="inline">{{this.process_info.parent_name}}&nbsp;</td>
                </tr>
            </table>
        </div>
        <div style="min-width: 25rem;" class="flex-fill mt-2">
            <h5>Children</h5>
            <div id="children-div" class="px-2 py-1 custom-scrollbar-css">
                <span *ngIf="this.process_info.children_processes.length == 0">
                    This process has no child
                </span>
                <table class="children-table tiny-font">
                    <tr *ngFor="let child of this.process_info.children_processes" class="child-tr" (click)="go_to_process(child.pid)">
                        <td class="pright-1">({{child.pid}})</td>
                        <td>{{child.name}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="this.process_history" class="d-flex flex-column">
        <app-process-cpu-usage class="mt-2"
            [data]="this.process_history.cpu_usage"
            [data_update_observable]="data_update_subject.asObservable()"
        ></app-process-cpu-usage>
        <app-process-memory-usage class="mt-2"
            [total_mem]="this.total_memory"
            [data]="this.process_history.mem_usage"
            [data_update_observable]="data_update_subject.asObservable()"
        ></app-process-memory-usage>
        <app-process-disk-usage class="mt-2"
            [data]="this.process_history.disk_read_usage"
            [data_update_observable]="this.data_update_subject.asObservable()"
        ></app-process-disk-usage>
    </div>
</div>