<div class="page-container">
    <h1>{{'Disks.Disks'|translate}}</h1>

    <div class="d-flex responsv-flex">
        <div *ngFor="let disk of disks; let i = index" class="card my-2 mx-2 px-2 py-3 disk-info-card">
            <div class="d-flex flex-row align-items-center">
                <app-treemap
                    [path]="disk.mount_point"
                ></app-treemap>

                <app-disk-chart
                    [disk_info]="disk"
                ></app-disk-chart>
                
                <div style="overflow-x: auto;">
                    <div>
                        <h4>{{'Disks.Disk'|translate}} {{i}} &nbsp; {{disk.name}}</h4>
                        <h5>{{format_disk_space(disk.total_space - disk.available_space)}} {{'Disks.used_of'|translate}} {{format_disk_space(disk.total_space)}}</h5>
                    </div>
                    <table>
                        <tbody>
                            <tr>
                                <th>{{'Disks.Mount_point'|translate}}:&nbsp;</th>
                                <!-- <th>Mount point:&nbsp;</th> -->
                                <td>{{disk.mount_point}}</td>
                            </tr>
                            <tr>
                                <th>{{'Disks.File_system'|translate}}:&nbsp;</th>
                                <td>{{disk.file_system}}</td>
                            </tr>
                            <tr>
                                <th>{{'Disks.Type'|translate}}:&nbsp;</th>
                                <td>{{disk.disk_type}}
                                    <span *ngIf="!disk.removable">{{'Disks.Not_removable'|translate}}</span>
                                    <span *ngIf="disk.removable">{{'Disks.Removable'|translate}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
            </div>
        </div>
    </div>
</div>